{% extends 'admin_restaurante.html' %}
{% block restaurante_admin %}
{% load static %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-gray-dark float-left text-center">Empresas</h3>
        <a href="{% url 'crear_empresa' %}">
        <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="far fa-plus-square"></i> Crear Empresa
                  </button>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Direccion</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Empresa</th>
                    <th>Direccion</th>
                    <th>Opciones</th>
                </tr>
                </tfoot>
                <tbody>
                {% for empresa in  empresa_ls %}
                            {% if empresa.estado == 1 %}
                                <tr>
                                    <td>{{ empresa.nombre_empresa }}</td>
                                    <td>{{ empresa.direccion_empresa }}</td>
                                    <td class="text-right py-0 align-middle">
                                        <center>
                                            <div class="btn-group btn-group-sm">
                                                <a href="{% url 'editar_empresa' empresa.id %}"
                                                   class="btn btn-info"><i class="fas fa-pencil-alt"></i></a>
                                                <a href="{% url 'eliminar_empresa' empresa.id %}"
                                                   class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </center>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>

{% endblock %}